<!DOCTYPE>
<html>

<head>
  <title> Vertical Menu </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('.collapse').on('show.bs.collapse', function () {
        $('.collapse.show').each(function () {
          $(this).collapse('hide');
        });
      });
    });
  </script>
  <script type=text/javascript>
      $(function() {
        $('li#calculate').bind('click', function() {
            console.log($("#myInput").val());
          $.getJSON(window.location.origin + '/_add_numbers', {
            policy: $("#myInput").val(),
            a: $('input[name="a"]').val(),
            b: $('input[name="b"]').val()
          }, function(data) {
            document.getElementById('invisarea').innerHTML = data;
          //   $("#invisarea").text(data.result);
            document.getElementById("invisSubmit").submit();
          });
          return false;
        });
      });
    </script>

  <script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myList li").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
</head>

<body>
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#pasteInput" aria-expanded="false"
      aria-controls="pasteInput">
      Paste a privacy policy
    </button>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#txtInput" aria-expanded="false"
      aria-controls="txtInput">
      Upload a .txt file
    </button>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#explore" aria-expanded="false"
      aria-controls="explore">
      Browse uploaded policies
    </button>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#urlInput" aria-expanded="false"
      aria-controls="explore">
      Paste an URL
    </button>

  </p>
  <div class="collapse" id="txtInput">
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
  </div>

  <div class="collapse" id="pasteInput">
    <form action="" method="post">
      <div class="input-group">
        <textarea class="form-control" aria-label="With textarea" name="description"
          value="{{ request.form.description }}" onfocus="this.value=''">data controller</textarea>
      </div>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>

  <div class="collapse" id="explore">
    <form action="" method="post" id="invisSubmit">
      <textarea id="invisarea" style="display: none;" name="description"
        value="{{ request.form.description }}"></textarea>
      <h2>Filterable List</h2>
      <p>Type something in the input field to search the list for specific items:</p>
      <input class="form-control" id="myInput" type="text" placeholder="Search.." style="width: 80%;">
      <br>
      <ul class="list-group" id="myList">
        {% for topic in topics %}
        {% if 'ipy' not in topic %}
        <li id=calculate class="list-group-item" onclick="document.getElementById('myInput').value = '{{ topic }}'"
          style="cursor:pointer;">{{ topic }}</li>
        {% endif %}
        {% endfor %}
      </ul>
    </form>
  </div>

  <div class="collapse" id="urlInput">
    <form action="" method="post">
      <input type="text" placeholder="topic" name="urlInput" value="{{
          request.form.urlInput }}" style="width: 40%;">
      <input class="btn btn-default" type="submit" value="Login">
    </form>
  </div>


  {% if checkText %}
  <div style="width: 80%;" class="mx-auto">
    {% for paragraph in checkText %}
    <div>{{ paragraph }}</div><br>
    {% endfor %}
  </div>
  {% endif %}

  {% else %}
  <div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
          aria-controls="v-pills-profile" aria-selected="false">Profile</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
          aria-controls="v-pills-messages" aria-selected="false">Messages</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
          aria-controls="v-pills-settings" aria-selected="false">Settings</a>
      </div>
    </div>
    <div class="col-10">
      <h1>{{ policycontent }}</h1>
      {% endif %}
</body>

</html>